﻿
@{
    ViewBag.Title = "Administrator";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>

    @Html.ActionLink("Register new user", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    
</div>