﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEAM STATS</h1>
</div>

<div class="row" ng-controller="HomeController">
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>{{Data.Average1stLine.Name}} Average</h2>
            </div>
            <div class="panel-body">
                <div class="jumbotron">
                    <h2>{{Data.Average1stLine.Average}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>{{Data.Average1stLine.Name}} Average</h2>
            </div>
            <div class="panel-body">
                
                <h2><span class="scoreJumbo">{{Data.Average1stLine.Average}}</span></h2>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>{{Data.Average1stLine.Name}} Average</h2>
            </div>
            <div class="panel-body">

                <h1>{{Data.Average1stLine.Average}}</h1>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>{{Data.Average1stLine.Name}} Average</h2>
            </div>
            <div class="panel-body">

                <h2>{{Data.Average1stLine.Average}}</h2>
            </div>
        </div>
    </div>

    


</div>