﻿@{
    ViewBag.Title = "Teams";
}

    <div>
        <div class="row">
            <div class="col-xs-3 ">
                <button class="btn btn-primary btn-lg teamButton">1st Line</button>
                <button class="btn btn-primary btn-lg teamButton">1st Line</button>
                <button class="btn btn-primary btn-lg teamButton">1st Line</button>
                <button class="btn btn-primary btn-lg teamButton">1st Line</button>
                
                <label class="label label-primary col-xs-12">From date:</label>
                <input type="datetime-local" class="input-sm" />
                <label class="label label-primary col-xs-12">To date:</label>
                <input type="datetime-local" class="input-sm"/>
            </div>

            <div class="col-xs-9">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>First name</td>
                            <td>Last name</td>
                            <td>Phone number</td>
                            <td>Email address</td>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
